[Unit]
Description=Telegram Bot2
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/bot2/
ExecStart=/usr/bin/python3 /home/bot2/main.py
RestartSec=60
Restart=always

[Install]
WantedBy=multi-user.targetpi